.all-anime-bs-card img {
  width: 80%;
  object-fit: cover;
  transition: transform 450ms;
  border-radius: 5%;
}

.all-anime-bs-card {
  text-align: center;
  height: -moz-fit-content;
  /* height: fit-content; */
  background-color: rgb(250, 250, 250);
  padding-top: 1rem;
  border-radius: 4px;
}

@media only screen and (min-width: 992px) {
  .all-anime-bs-row__poster:hover {
    transform: scale(1.03);
  }
}

.all-anime-bs-row__posters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
  justify-content: center;
  height: auto;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.all-anime-bs-row__posters p {
  font-size: 0.8rem;
  width: 100%;
  color: #3f4b5a;
  padding: 0.5rem;
  font-weight: 500;
}

.all-anime-bs-header {
  padding: 0.6rem;
  color: #3a4654;
}

.all-anime-bs-header h2 {
  font-size: 1.2rem;
}

.anime-info-sub-title {
  color: #3d4b5b;
  font-weight: 600;
}
