.all-anime-bs-card img {
  object-fit: cover;
  transition: transform 450ms;
  border-radius: 6px;
  max-width: 120px;
}

.all-anime-bs-card {
  text-align: center;
  height: -moz-fit-content;
  padding-top: 1rem;
  border-radius: 4px;
}

.all-anime-bs-row__posters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
  justify-content: center;
  height: auto;
  grid-column-gap: 1.1rem;
  grid-row-gap: 1rem;
}

.all-anime-bs-row__posters p {
  font-size: 0.8rem;
  width: 100%;
  color: #3f4b5a;
  padding: 0.5rem;
  font-weight: 500;
}

.all-anime-bs-header {
  padding: 0.6rem;
  color: #3a4654;
}

.all-anime-bs-header h2 {
  font-size: 1.2rem;
}

.anime-info-sub-title {
  color: #3d4b5b;
  font-weight: 600;
}

.anime-card-title {
  margin-left: auto;
  margin-right: auto;
}

/* desktop view */
@media only screen and (min-width: 992px) {
  .row__posterall-anime-bs-row {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .all-anime-bs-card {
    text-align: center;
    height: -moz-fit-content;
    background: none;
    padding-top: 1rem;
  }

  .all-anime-bs-header {
    display: flex;
    justify-content: space-between;
    color: #3a4654;
  }

  .all-anime-bs-header h2 {
    font-size: 1.75rem;
  }

  .anime-card-title p {
    font-size: 1.1rem;
  }

  .all-anime-bs-row__posters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1em;
    justify-content: center;
    height: auto;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }

  .all-anime-bs-card img {
    border-radius: 6px;
    width: auto;
    max-height: 230px;
    margin-bottom: 0;
    max-width: none;
  }

  .all-anime-bs-row__poster:hover {
    transform: scale(1.03);
  }

  .all-anime-bs-row__posters p {
    color: #3a4654;
    font-weight: 700;
  }
}
