.anime-wrapper {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.anime-image {
  width: 80%;
}

.anime-main-body {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.anime-info p {
  font-size: 1rem;
  width: 100%;
  line-height: 1.5rem;
  color: #3a4654;
}

.anime-title {
  padding: 0.6rem;
  color: #3a4654;
  text-align: center;
}

.anime-synopsis h3 {
  font-size: 1.25rem;
  color: #3a4654;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.anime-synopsis p {
  font-size: 1.1rem;
  color: #3a4654;
  background-color: rgb(250, 250, 250);
  padding: 1.2rem;
  border-radius: 5px;
}

.anime-synopsis {
  margin-bottom: 30px;
}

.anime-image-container img {
  width: 80%;
  object-fit: cover;
  transition: transform 450ms;
  border-radius: 5%;
  margin-left: 1.25rem;
}

.anime-trailer {
  margin-top: 1rem;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.anime-trailer iframe {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  border: 0;
  height: 200px;
}

.anime-genres {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #3a4654;
}

.anime-info {
  flex-grow: 1;
  display: grid;
  background-color: white;
  padding: 0.5em;
}

.anime-add-to-list-container {
  align-self: flex-end;
  text-align: center;
}

.anime-add-to-list-btn,
.anime-watching-status-btn,
.anime-completed-status-btn {
  text-align: center;
  display: inline-block;
  padding: 0.5em;
  width: 90%;
  color: #fff;
  background-color: #0a80ff;
  border-color: #0a80ff;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  margin-right: 1.5rem;
  font-size: 1rem;
}

.anime-watching-status-btn {
  background-color: #2aa846;
  border-color: #1e7e34;
}
