/* Anime rows*/

.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 150px;
  transition: transform 450ms;
  width: auto;
  border-radius: 6px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 15px;
  gap: 12px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posters p {
  font-size: 0.8rem;
  width: 100%;
  color: #3a4654;
  font-weight: 500;
  line-height: 1.5;
}

.anime-header {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
  color: #3a4654;
}

.anime-header p {
  align-self: center;
  font-size: 0.9rem;
  font-weight: 500;
}

.anime-header h2 {
  font-size: 1.2rem;
}

.anime-header-view-all-link {
  text-decoration: none;
  color: #3f4750;
}

@media only screen and (min-width: 992px) {
  .row {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }

  .row__poster {
    max-height: 280px;
  }

  .row__poster:hover {
    transform: scale(1.08);
  }

  .row__posters {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem 1rem;
  }

  .anime-card {
    justify-self: center;
    width: 200px;
    text-align: center;
  }

  .anime-card-image {
    margin-bottom: 1rem;
  }

  .anime-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .row__posters p {
    font-size: 1rem;
    width: 90%;
    color: #3a4654;
    font-weight: 700;
    margin: 0 auto;
  }

  .anime-header {
    display: flex;
    justify-content: space-between;
    color: #3a4654;
    margin-bottom: 1rem;
  }

  .anime-header h2 {
    font-size: 1.75rem;
  }

  .anime-header-view-all-link {
    font-weight: 500;
    font-size: 1.2rem;
  }
}
